@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6pd235');
  src:  url('fonts/icomoon.eot?6pd235#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6pd235') format('truetype'),
    url('fonts/icomoon.woff?6pd235') format('woff'),
    url('fonts/icomoon.svg?6pd235#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
  content: "\e994";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-menu:before {
  content: "\e9bd";
}
